<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden>&times;</span>
         </button>
    </div>
    {% endfor %}
     <h3>HOME</h3>
     {% if user.is_authenticated %}
         <h3 id="hello-msg"> Hello {{request.user}} </h3>
         <h4> You are successfully logged in.</h4>
         <button type="submit"> <a href="/logout">SignOut</a></button>
         <button type="submit"> <a href="/ISSLocation">ISS Current Location</a></button>
         <button type="submit"> <a href="/astroPhotoDay">Astronomy Photo of the day</a></button>
         <button type="submit"> <a href="/astroPhotoYesterday">Astronomy Photo of Yesterday</a></button>
         <button type="submit"> <a href="/marsPhotos">Mars Photos of last 7 days</a></button>
    {%else%}
        <button type="submit"> <a href="/register">SignUp</a></button>
        <button type="submit"> <a href="/login">SignIn</a></button>
        <button type="submit"> <a href="/ISSLocation">ISS Current Location</a></button>
        <button type="submit"> <a href="/astroPhotoDay">Astronomy Photo of the day</a></button>
        <button type="submit"> <a href="/astroPhotoYesterday">Astronomy Photo of Yesterday</a></button>
        <button type="submit"> <a href="/marsPhotos">Mars Photos of last 7 days</a></button>
    {% endif %}
    <script src = "" async defer></script>
</body>
</html>