<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% for message in messages %}
        <p id="messages"> {{message}}</p>
    {% endfor %}
    <button type="submit"> <a href="/">Home</a></button>
    <button type="submit"> <a href="/register">SignUp</a></button>
     <h3>Sign In</h3>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <label for="">Username</label>
        <input type = "text" id = "username" name ="username" placeholder="Enter Your Username : " Required>
        <br>
        <label for="">Password</label>
        <input type = "text" id = "password" name = "password" placeholder="Enter your Password : " Required>
        <br>
        <button type="submit">Log In</button>
    </form>
<script src = "" async defer></script>
</body>
</html>